body {
    font-family: Arial, sans-serif; /* Yazı tipi ailesi */
    font-size: 11px; /* <p></p> etiketindeki ana yazının boyutu */
    background-color: #f0f0f0; /* Web sayfasının arka plan rengi */
    color: #333333; /* Metin rengi */
}

h1 {
    color: #00a800; /* Başlık rengi */
    font-size: 24px; /* Başlık yazı tipi boyutu */
    font-family: Georgia, serif; /* Başlıkta kullanılan yazı tipi ailesi */
}
h2 {
    color: #007ea8; /* Başlık rengi */
    font-size: 24px; /* Başlık yazı tipi boyutu */
    font-family: Georgia, serif; /* Başlıkta kullanılan yazı tipi ailesi */
}

@keyframes color-change {
    0% {
      color: blue;
    }
  
    50% {
      color: red;
    }

    100% {
      color: blue;
    }
}

h3 {
    animation: color-change 3s infinite;
}
h3:hover { animation: color-change 3s infinite; }
  <iframe src="https://www.meteoblue.com/tr/hava/widget/daily/bodrum_t%c3%bcrkiye_320995?geoloc=fixed&days=4&tempunit=CELSIUS&windunit=KILOMETER_PER_HOUR&precipunit=MILLIMETER&coloured=coloured&pictoicon=0&pictoicon=1&maxtemperature=0&maxtemperature=1&mintemperature=0&mintemperature=1&windspeed=0&windspeed=1&windgust=0&winddirection=0&winddirection=1&uv=0&humidity=0&precipitation=0&precipitation=1&precipitationprobability=0&precipitationprobability=1&spot=0&spot=1&pressure=0&layout=light" 
  frameborder="0" 
  scrolling="NO"
  allowtransparency="true" 
  sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox"
  style="width: 216px; height: 420px">
  </iframe>
  <div><!-- DO NOT REMOVE THIS LINK --><a href="https://www.meteoblue.com/tr/hava/hafta/bodrum_t%c3%bcrkiye_320995?utm_source=weather_widget&utm_medium=linkus&utm_content=daily&utm_campaign=Weather%2BWidget" target="_blank" rel="noopener">meteoblue</a>
  </div>
